@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SocialMVC.Models.PostsModel> lista = ViewBag.Posts;
    lista.Reverse();
    var User = ViewBag.Perfil;
    var check = ViewBag.id;
    var MySession = Convert.ToInt32(Session["id_usuario"]);
}
@{ 
    ViewBag.Title = "Mi perfil";
}
@*Posts del perfil en sesion*@
<div class="fondo">
    <img class="bg" src="@User.path_fondo"/>
    <div class="container mover">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 caja">
                <div id="imgPerfil">
                    <img src="@User.path_perfil" />
                </div>
                <h2 id="caso">@User.nombres @User.apellidos</h2>
            </div>
        </div>
    </div>
</div>
<div class="infoPersonal">
    <table>
        <thead>
            <tr>
                <th class="titulo" colspan="2" width="30%">Información Personal
                @if (check == MySession)
                {
                    <a class="underlineHover btn" href="@Url.Action("Editar","Editar")">
                    <i class="fas fa-pencil-alt"></i> Editar
                    </a>
                }
                </th>
                <th class="titulo" width="70%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="column" width="15%">Bibliografia:</th>
                <td class="fila" width="85%" colspan="2">@User.descripcion</td>
            </tr>
            <tr>
                <th class="column" width="15%">Cumpleaños:</th>
                <td class="fila" width="85%" colspan="2">@User.fecha_nacimiento.ToString("dd 'de' MMMM") &nbsp;&nbsp;<i class="fas fa-birthday-cake"></i></td>
            </tr>
            <tr>
                <th class="column" width="15%">Edad:</th>
                <td class="fila" width="15%">@User.edad</td>
                <td width="70%"></td>
            </tr>
            <tr>
                <th class="column" width="15%">Sexo:</th>
                <td class="fila" width="15%">
                    @{
                        if (User.sexo != 0)
                        {
                            <p>Hombre</p>
                        }
                        else
                        {
                            <p>Mujer</p>
                        }
                    }
                </td>
                <td width="70%"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="textoSeparador">
    @if (check == MySession)
    {
        <h2>Mis Publicaciones</h2>
        <hr />
    }
    else
    {
        <h2>Publicaciones</h2>
        <hr />
    }
</div>
<div class="postsPerfil">
    @foreach (var item in lista)
    {
        <h4 class="nombrePost">@item.nombre</h4>
        <div class="container fluid">
            @if (item.path_post != "")
            {
                <img src="@item.path_post.Trim()" class="img-responsive img-rounded" width="150" height="150" />
            }
            <p style="font-size: 22px">
                @item.texto_post
            </p>
            @if (item.getLike != 0)
            {
                <i class="fas fa-thumbs-up">@item.getLike</i>
            }
            @if (item.getEntristese != 0)
            {
                <i class="fas fa-tired">@item.getEntristese</i>
            }
            @if (item.getEncanta != 0)
            {
                <i class="fab fa-gratipay">@item.getEncanta</i>
            }
            @if (item.getDivierte != 0)
            {
                <i class="fas fa-grin-squint-tears">@item.getDivierte</i>
            }
            @if (item.getAsombra != 0)
            {
                <i class="fas fa-surprise">@item.getAsombra</i>

            }
            @if (item.getEnoja != 0)
            {
                <i class="fas fa-angry">@item.getEnoja</i>
            }
        </div>
        <div>
            <span class="badge">Posted @item.fecha_post</span>
            <div class="pull-right">
                <a href="@Url.Action("Reaccionar", new {tipo = 1, id_post = item.id_post_usuario})"><span class="label label-info">Like</span></a>
                <a href="@Url.Action("Reaccionar", new {tipo = 2, id_post = item.id_post_usuario})"><span class="label label-default">Me entristece</span></a>
                <a href="@Url.Action("Reaccionar", new {tipo = 3, id_post = item.id_post_usuario})"><span class="label label-primary">Me encanta</span></a>
                <a href="@Url.Action("Reaccionar", new {tipo = 4, id_post = item.id_post_usuario})"><span class="label label-success">Me divierte</span></a>
                <a href="@Url.Action("Reaccionar", new {tipo = 5, id_post = item.id_post_usuario})"><span class="label label-warning">Me Sorprende</span></a>
                <a href="@Url.Action("Reaccionar", new {tipo = 6, id_post = item.id_post_usuario})"><span class="label label-danger">Me enoja</span></a>
            </div>
        </div>
        <hr>
    }
</div>




